##########################################################################
## Ignora sincronização de configurações customizadas do Obsidian

.obsidian

## FIM
##########################################################################


##########################################################################
## gitignore para arquivos ocultos OSx
## referência:
## https://github.com/github/gitignore/edit/master/Global/macOS.gitignore


# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## FIM
##########################################################################


##########################################################################
## Início de gitignore para arquivos do VSCode
## Referência:
## https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

## FIM
##########################################################################
